.container {
  /* background-image: url('/punk-pattern.png'); */
  background: #000;
  text-align: center;
}

.header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.description {
  font-size: x-large;
  /* text-shadow: 0 0 6px #000000, 0 5px 15px #FECB33; */
}

.opensea {
  font-size: xx-large;
  color: #1C6ADB !important;
  /* text-shadow: 0 0 6px #000000, 0 5px 15px #FFF; */
}

.win {
  /* text-shadow: 0 0 6px #000000, 0 5px 19px #00FF00 !important; */
}

.description-size {
  width: 60%;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media only screen and (max-width: 600px) {
  .description {
    width: 98%;
  }
}

@media only screen and (max-width: 900px) {
  .description {
    width: 88%;
  }
}

@media only screen and (max-width: 1200px) {
  .description {
    width: 78%;
  }
}
.btn:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;
  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

.imageWrapper div:first-child {
  width: 50vmin;
  border-image-slice:15 15 15 15;
  border-image-width:20px;
  border-image-outset:15px;
  border-image-repeat:round round;
  border-image-source:url("https://yari-demos.prod.mdn.mozit.cloud/en-US/docs/Web/CSS/CSS_Background_and_Borders/Border-image_generator/border-image-3.png");
  border-style:solid;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

h1.title {

}

.rainbow-text {
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
  background: #fff;
  border-bottom: 6px inset rgba(0, 0, 0, .5);
  border-left: 6px inset rgba(0, 0, 0, .5);
  border-right: 6px inset rgba(255, 255, 255, .5);
  border-top: 6px inset rgba(255, 255, 255, .5);
  box-sizing: border-box;
  color: 000;
  cursor: pointer;
  display: inline-block;
  font-size: 2rem;
  margin: 1rem;
  margin-bottom: 5rem;
  min-width: 200px;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  width: auto;
  /* color: #fff; */
  background: #fff;
  color: #fff;

  background-image: linear-gradient(to left, white, gray, black, violet, indigo, blue, green, yellow, orange, red, black, gray, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* background: linear-gradient(105deg, #f6d365, #fda085, #f6d365, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3); */
  /* background: linear-gradient(90deg, violet, indigo, blue, green, yellow, orange, red, violet); */
  /* background: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%); */
  /* background: linear-gradient(to left, white 0%, gray 10%, black 20%, violet 30%, indigo 40%, blue 50%, green 60%, yellow 70%, orange 80%,white 90%); */
  background-size: 800% 800%;
  animation: rainbow 5s linear infinite;

  /* animation: slidebg 6s linear infinite; */

  border-radius: 10px;
}

@keyframes slidebg {
  to {
    background-position: -80vw;
  }
}

@-webkit-keyframes rainbow {
  0%{background-position:0% 100%}
  100%{background-position:100% 0%}
}
@-moz-keyframes rainbow {
  0%{background-position:0% 100%}
  100%{background-position:100% 0%}
}
@-o-keyframes rainbow {
  0%{background-position:0% 100%}
  100%{background-position:100% 0%}
}
@keyframes rainbow {
  0%{background-position:0% 100%}
  100%{background-position:100% 0%}
}

.btn:focus,
.btn:hover {
  /* background: rgb(236, 161, 39); */
}
.tada {
  -webkit-animation-name: tada;
  animation-name: tada;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
